# AI Model
BASE_MODEL=
HF_API_TOKEN=

# Weather API
OPENWEATHERMAP_API_KEY=

# Flight API
FLIGHT_API_KEY=

# Hotel API - RapidAPI Booking.com
RAPIDAPI_KEY=
RAPIDAPI_HOST=booking-com15.p.rapidapi.com

# Local Events API
TICKETMASTER_API_KEY=